*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
    background-color: #BDC8FF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: #FFFF;
    font-size: 72px;
    padding-top: 17%;
    padding-left: 5%;
    text-align: left;
    position: relative;
}

.password_info{
    /* background-image: url("assets/web-skeleton.svg"); */
    /* padding: 15% 2% 30% 2%; */
    background-color: #FFFF;
    maring-right: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    border: 3px solid #5672FF;
    font-family: 'Work Sans', sans-serif;
    color: #818181;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.password-display{
    color: #5672FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;

}

form{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.characterAmountNumber{
    display: flex;
    align-items: center;
}

.number-input{
    width: 2.5rem;
}

.btn{
    background: rgb(114,166,252);
    background: linear-gradient(90deg, rgba(114,166,252,1) 0%, rgba(215,149,239,1) 65%);
    border: none;
    color: white;
    padding: 15px 32px;
    /* text-align: center;
    text-decoration: none; */
    font-size: 16px;
    /* display: flex; */
    /* align-items: center; */
    border-radius: 10rem;
    grid-column: span 2;
}

.btn:hover {
    background: #D795EF;
}